In [2]:
import kagglehub
import os
import shutil

d:\study\Fake-news-detector-with-Explainable-AI\venv\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [3]:
path = kagglehub.dataset_download("clmentbisaillon/fake-and-real-news-dataset")
print("Path to dataset files:", path)

Path to dataset files: C:\Users\Lenovo\.cache\kagglehub\datasets\clmentbisaillon\fake-and-real-news-dataset\versions\1

In [4]:
destination_path = "../data/raw/fake-and-real-news-dataset"
os.makedirs(destination_path, exist_ok=True)

In [5]:
for filename in os.listdir(path):
    source_file = os.path.join(path, filename)
    destination_file = os.path.join(destination_path, filename)
    
    if os.path.isfile(source_file):
        shutil.copy2(source_file, destination_file)
        print(f"Copied {filename} to {destination_path}")

print("\nDataset is now in the correct folder: data/raw/")

Copied Fake.csv to ../data/raw/fake-and-real-news-dataset
Copied True.csv to ../data/raw/fake-and-real-news-dataset

Dataset is now in the correct folder: data/raw/

In [7]:
#DATA PREPROCESSING

import pandas as pd
import os

true_file = "../data/raw/fake-and-real-news-dataset/True.csv"
fake_file = "../data/raw/fake-and-real-news-dataset/Fake.csv"

if os.path.exists(true_file):
    true = pd.read_csv(true_file)
    print("True.csv loaded successfully")
else:
    print("File was not founded at the datapath")

if os.path.exists(fake_file):
    fake = pd.read_csv(fake_file)
    print("Fake.csv loaded successfully")
else:
    print("File was not founded at the datapath")

True.csv loaded successfully
Fake.csv loaded successfully

In [9]:
true['label'] = 0
fake['label'] = 1

true.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [10]:
fake.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [15]:
true.shape

(21417, 5)

In [16]:
fake.shape

(23481, 5)

In [ ]:
#Combined datasets fake and true
df = pd.concat([fake, true], ignore_index = True)

In [17]:
df.shape

(44898, 5)

In [13]:
df.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [14]:
df.tail()

,title,text,subject,date,label
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",0
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",0
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",0
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",0
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",0

In [18]:
#Shuffle the df
df = df.sample(frac=1).reset_index(drop=True)

In [19]:
df.head()

,title,text,subject,date,label
0,Police examine three envelopes at Scottish par...,"EDINBURGH (Reuters) - Three similar envelopes,...",worldnews,"November 7, 2017",0
1,Congressman Jim Jordan stops CNN gatekeeper Ch...,"21st Century Wire says Once again, Operation ...",Middle-east,"October 21, 2016",1
2,Could Brexit vote be a preview of U.S. preside...,WASHINGTON/NEW YORK (Reuters) - Britain’s stun...,politicsNews,"June 24, 2016",0
3,NEW YORK CITY VALUES? “Masturbation Stations” ...,You ve got to be kidding! New York c mon! We j...,left-news,"Jan 16, 2016",1
4,REVEALED: How Democratic Party pays Agit-Prop ...,By Anthony Brian Logan . James O Keefe of Pro...,Middle-east,"October 18, 2016",1

In [20]:
#saving the combined dataset here
df.to_csv('../data/raw/fake-and-real-news-dataset/Combined.csv', index=False)
print("\nCombined dataset saved to '../data/raw/fake-and-real-news-dataset/Combined.csv'.")

Combined dataset saved to '../data/raw/fake-and-real-news-dataset/Combined.csv'.

In [22]:
df.isnull().sum()

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [23]:
df['text'].str.len().describe()
df['title'].str.len().describe()

count    44898.000000
mean        80.111720
std         25.379685
min          8.000000
25%         63.000000
50%         73.000000
75%         91.000000
max        286.000000
Name: title, dtype: float64